.section {
    width: 100%;
}

.slider {
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    margin: 0 50px;
    color: #444;
    max-width: 1180px;
    width: 100%;
    overflow: hidden;
}

.sliderContent {
    padding: 64px 0 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .container {
        margin: 0 25px;
    }
}

@media (max-width: 768px) {
    .container {
        margin: 0 14px;
    }
}

@media (max-width: 560px) {
    .container {
        margin: 0 8px;
    }
}

.image img {
    /* background: center / contain no-repeat url(../../assets/logo.png); */
    object-fit: fill;
    width: 889px;
    height: 500px;
}
